@using Newtonsoft.Json;
@model QuizPrepAi.Models.Quiz

@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="text-center">
    <form asp-controller="Quiz" asp-action="Results" id="quiz-form">
        <input type="hidden" name="quizModel" value="@Html.Raw(JsonConvert.SerializeObject(Model))">
        @{
            var questions = Model?.Question;
        }
        @for (var i = 0; i < questions.Count(); i++)
        {
            var question = questions.ElementAt(i);
            <div class="quiz-question mb-4" id="question-@i" style="display: @(i == 0 ? "initial" : "none")">
                <h2>@question.SingleQuestion</h2>
                <div class="quiz-answers">
                    @for (var j = 0; j < question.Answers.Count; j++)
                    {
                        var answer = question.Answers[j];
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="@Model.SelectedAnswer" value="@answer">
                            <label class="form-check-label" for="@answer">
                                @answer
                            </label>
                        </div>
                    }
                </div>
            </div>
        }
        <input type="hidden" name="total-questions" value="@Model?.TotalQuestions">
        <button type="button" class="btn btn-primary" id="next-button">Next</button>
        <button type="submit" class="btn btn-primary" style="display:none" id="submit-button">Submit</button>
    </form>
</div>

<script>
    $(document).ready(function () {
        var currentQuestion = 0;
        showQuestion(currentQuestion);

        $("input[type=radio]").click(function () {
            $("#next-button").prop("disabled", false);
        });

        $("#next-button").click(function () {
            currentQuestion++;
            showQuestion(currentQuestion);
            $("#next-button").prop("disabled", true);

            if (currentQuestion == @Model.TotalQuestions - 1) {
                $("#next-button").hide();
                $("#submit-button").show();
            }
        });

        function showQuestion(questionNumber) {
            $("#quiz-form #question-" + currentQuestion).hide();
            $("#quiz-form #question-" + questionNumber).show();
        }
    });
</script>
