@using Newtonsoft.Json;
@model QuizPrepAi.Models.QuizModel

@{
    ViewData["Title"] = "Quiz Page";
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<div class="text-center">
    <form asp-controller="Quiz" asp-action="Results">
        <input type="hidden" name="quizModel" value="@Html.Raw(JsonConvert.SerializeObject(Model))">
        @{
            var questions = Model?.Questions;
        }
        @for (var i = 0; i < questions?.Count; i++)
        {
            var question = questions?[i];
            <div class="quiz-question mb-4" id="question-@i" @(i != 0 ? "style=display:none;" : "")>
                <h2>@question.Question</h2>
                <div class="quiz-answers">
                    @for (var j = 0; j < question.Answers.Count; j++)
                    {
                        var answer = question.Answers[j];
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="questions[@i].UserAnswer" value="@answer">
                            <label class="form-check-label" for="answer-@i-@j">
                                @answer
                            </label>
                        </div>
                    }
                </div>
                <input type="hidden" name="correct-answer-@i" value="@question.CorrectAnswer">
            </div>
        }
        <input type="hidden" name="total-questions" value="@Model?.TotalQuestions">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
