@model QuizPrepAi.Models.ViewModels.QuizResultViewModel

@{
    ViewData["Title"] = "Quiz Results";
}

<div class="text-center justify-content-md-center">
    <h1>Quiz Results</h1>@*
    <h2>@Model.QuizTitle.</h2>*@
    <h3>You scored @Model.Score out of @Model.TotalQuestions</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Question</th>
                <th scope="col">Correct Answer</th>
                <th scope="col">Your Answer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var answer in Model.UserAnswers)
            {
                <tr>
                    <td>@answer.Question.SingleQuestion</td>
                    <td>@answer.Question.CorrectAnswer</td>
                    <td>@answer.SelectedAnswer</td>
                </tr>
            }
        </tbody>

    </table>

</div>
